{% extends 'shared/__layout.html' %}
{% load static %}
{% load jalali_tags %}
{% load poll_extras %}
{% block custom_header %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <form delete-url="{% url 'delete_vote_view' %}" action="{% url 'poll_detail_view' pk=poll.id %}" id="form">
        {% csrf_token %}
    </form>
    <div class="article-container">
        <h1 class="article-title">
            جزییات نظرسنجی
        </h1>
        <div class="poll-detail-container">
            <div class="poll-detail-title">
                {{ poll.question }}
            </div>
            <div style="border: none!important;" class="mew-infos-container">
                <div class="new-author">نویسنده : {{ poll.owner.full_name }}</div>
                <div class="new-author">تعداد رای های ثبت شده : {{ poll.all_count }}</div>
                <div class="new-date">{{ poll.created_at.date |show_jalali_date|change_month }}</div>
            </div>
            <div class="poll-option-container">
                {% for option in poll.poll_option.all %}
                    <div class="poll-option">
                        <div class="poll-option-number">
                            {{ forloop.counter }}
                        </div>
                        <div class="poll-option-title">
                            {{ option.option }}
                        </div>
                        <div class="poll-option-count">
                            {{ option.option_count_x }}
                        </div>
                        <div class="poll-option-btn">
                            <button onclick="vote({{ option.id }})" class="submit-vote-btn">رای دادن</button>
                            {% if user_vote and  user_vote.poll_option.id == option.id %}
                                <button onclick="deleteVote({{ user_vote.id }})" class="delete-cote-btn">حذف رای
                                </button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script>


        let links = document.getElementsByClassName("submit-vote-btn")
        console.log(links)
        let csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value;

        function vote(optionId) {
            let myForm = document.getElementById("form")
            let form = new FormData(myForm)
            form.append("option_id", optionId);
            fetch(myForm.getAttribute("action"), {
                method: "POST",
                {#headers: {'Content-Type': 'application/json', "X-CSRF-Token": getCookie("csrftoken")},#}
                body: form
            }).then(res => res.json()).then(res => {
                if (res.status === 'success') {
                    showNotification(res, 'موفق')
                    $('#vote-avg').html(res.vote_avg)
                } else if (res.status === 'error') {
                    showNotification(res, 'شکست')
                }
            })
        }

        function deleteVote(voteId) {
            let myForm = document.getElementById("form")
            let form = new FormData(myForm)
            form.append("vote_id", voteId);
            fetch(myForm.getAttribute("delete-url"), {
                method: "POST",
                {#headers: {'Content-Type': 'application/json', "X-CSRF-Token": getCookie("csrftoken")},#}
                body: form
            }).then(res => res.json()).then(res => {
                if (res.status === 'success') {
                    showNotification(res, 'موفق')
                    $('#vote-avg').html(res.vote_avg)
                } else if (res.status === 'error') {
                    showNotification(res, 'شکست')
                }
            })
        }

    </script>
{% endblock %}
