{% extends 'shared/__layout.html' %}
{% load static %}
{% load jalali_tags %}
{% block custom_header %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'poll_detail_view' pk=poll.id %}" id="form">
        {% csrf_token %}
    </form>
    <div class="article-container">
        <h1 class="article-title">
            جزییات نظرسنجی
        </h1>
        <div class="poll-detail-container">
            <div class="poll-detail-title">
                {{ poll.question }}
            </div>
            <div style="border: none!important;" class="mew-infos-container">
                <div class="new-author">نویسنده : {{ poll.owner.full_name }}</div>
                <div class="new-author">تعداد رای های ثبت شده : {{ poll.all_count }}</div>
                <div class="new-date">{{ poll.created_at.date | to_jalali }}</div>
            </div>
            <div class="poll-option-container">
                {% for option in poll.poll_option.all %}
                    <div class="poll-option">
                        <div class="poll-option-number">
                            {{ forloop.counter }}
                        </div>
                        <div class="poll-option-title">
                            {{ option.option }}
                        </div>
                        <div class="poll-option-count">
                            {{ option.option_count_x }}
                        </div>
                        <div class="poll-option-btn">
                            <button onclick="vote({{ option.id }})" class="submit-vote-btn">رای دادن</button>
                            <button class="delete-cote-btn">حذف رای</button>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let links = document.getElementsByClassName("submit-vote-btn")
        console.log(links)
        let csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value;

        function vote(optionId) {
            let myForm = document.getElementById("form")
            let form = new FormData(myForm)
            form.append("option_id", optionId);
            fetch(myForm.getAttribute("action"), {
                method: "POST",
                {#headers: {'Content-Type': 'application/json', "X-CSRF-Token": getCookie("csrftoken")},#}
                body: form
            }).then(res => res.json()).then(res => {
                console.log(res)
            })
        }

    </script>
{% endblock %}
