{% extends 'shared/admin_layout.html' %}
{% load jalali_tags %}
{% load static %}
{% block content %}
    <div class="">
        <div class="clearfix"></div>
        <div class="main-row-container row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <br/>
                    <div class="article-container">
                        <div class="article-title">
                            <h1> ویرایش کاربر {{ user.full_name }}</h1>
                        </div>
                        <form id="user-create-form" action="{% url 'user_edit_view' pk=user.id %}" method="post"
                              enctype="multipart/form-data">
                            {{ form }}
                            {% csrf_token %}
                            <button style="cursor: pointer" type="submit">ارسال</button>
                        </form>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="form-error-container">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script src="{% static 'script.js' %}"></script>
{% endblock %}