{% extends 'shared/admin_layout.html' %}
{% load jalali_tags %}
{% load poll_extras %}
{% block content %}
    <form id="http-request-form" action="{% url 'user_list_view' %}" method="post">
        {% csrf_token %}
    </form>
    <div class="">
        <div class="clearfix"></div>
        <div class="main-row-container row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <br/>
                    <div class="article-container">
                        <div class="article-title">
                            <a href="{% url 'user_add_view' %}" class="add-newfile-btn">افزودن کاربر جدید</a>
                            <h1>لیست کاربران</h1>
                            <div class="user-list-search">
                                <div class="user-list-search-container">
                                    <input id="user-list-search-input" type="text" placeholder="جست و جو ...">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="user-list-category-container">
                                    <select style="width: auto!important;" class="form-control"
                                            id="exampleFormControlSelect1">
                                        <option id="0" selected>بخش مورد نظر ...</option>
                                        {% for department in departments %}
                                            <option value="{{ department.id }}">{{ department.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="user-list-table-container">
                            {% include 'account_module/includes/user-list-component.html' with users=users %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_script %}
    <script>
        function deleteUser(id) {
            let url = `/accounts/user-list/${id}/delete/`
            $.ajax({
                method: "GET",
                url: url,
                headers: {
                    'X-CSRFToken': getCookie("csrftoken")
                },
                success: function (res) {
                    if (res.status === 'success') {
                        showNotification(res, 'موفق')
                        if (res.type && res.type === "free") {
                            setTimeout(() => {
                                location.reload()
                            }, 2000)
                        }
                    } else if (res.status === 'error') {
                        showNotification(res, 'شکست')
                        if (res.type && res.type === "exist") {
                            setTimeout(() => {
                                location.replace("/open-order/")
                            }, 2000)
                        }
                    }
                },
                error: function (res) {
                    showNotification({
                        message: 'لطفا از اتصال اینترنت خود اطمینان حاصل فرمایید',
                        status: 'error'
                    }, 'شکست')
                }
            })
        }

        let httpForm = document.getElementById("http-request-form")
        let searchInput = document.getElementById("user-list-search-input")
        searchInput.addEventListener("input", event => {
            let formData = new FormData(httpForm)
            formData.append("search_text", event.target.value)
            let selectInput = document.getElementById("exampleFormControlSelect1")
            formData.append("select_id", selectInput.value)
            $.ajax({
                url: httpForm.getAttribute("action"),
                type: httpForm.getAttribute("method"),
                data: formData,
                processData: false,
                contentType: false,
                success(res) {
                    if (res.status === "success") {
                        $('#user-list-table-container').fadeOut(500, function () {
                            $('#user-list-table-container').html(res.message).fadeIn(500)
                        })
                    } else {
                        showNotification(res, "شکست")
                    }
                }
            })
        })
        let selectInput = document.getElementById("exampleFormControlSelect1")
        selectInput.addEventListener("change", (event) => {
            let selectValue = event.target.value
            if (selectValue != 0) {
                let formData = new FormData(httpForm)
                let searchInput2 = document.getElementById("user-list-search-input")
                formData.append("search_text", searchInput2.value)
                formData.append("select_id", event.target.value)
                $.ajax({
                    url: httpForm.getAttribute("action"),
                    type: httpForm.getAttribute("method"),
                    data: formData,
                    processData: false,
                    contentType: false,
                    success(res) {
                        if (res.status === "success") {
                            $('#user-list-table-container').fadeOut(500, function () {
                                $('#user-list-table-container').html(res.message).fadeIn(500)
                            })
                        } else {
                            showNotification(res, "شکست")
                        }
                    }
                })
            }
        })
    </script>
{% endblock %}