.events-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.event {
    width: 23%;
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 20px;
    padding: 20px 0;
    box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: all .3s;
}

.event-title {
    font-size: 1.2rem;
    padding: 10px 0px;
}

.event-date {
    opacity: .8;
}

.birthday-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

.birthday {
    width: calc(25% - 30px);
    margin: 10px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    transition: all .3s;
    border-radius: 10px;
}

.birthday:hover {
    transform: scale(1.05);

}

.event:hover {
    transform: scale(1.05);

}

.birthday-icon {
    text-align: center;
}

.birthday-icon i {
    color: #2D394B;
    font-size: 4rem;
    padding: 10px 0;
}

.birthday-title {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;

}

.birthday-user {
    font-size: 1.2rem;
    opacity: .8;
    text-align: center;
    padding: 10px 0;
    display: block;
}

.birthday-user i {
    font-size: 1.2rem;

}

.birthday-date {
    opacity: 1.8;
    padding: 15px 0;
    text-align: center;
}

.download-link {
    text-decoration: none;
    color: #2D394B;
}

.download-link:hover {
    color: dodgerblue;
}

.news-icon img {
    object-fit: cover;
    width: 95%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    height: 170px;
}

.news-user {
    border-bottom: 1px solid lightgray;
}

.new-page-container {
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;

}

.new-page-section {
    height: 500px;
}

.new-page-section img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    /*height: 300px;*/
    object-fit: cover;
}

.mew-infos-container {
    padding: 20px 0;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-title {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
    opacity: .8;
}

.new-description {
    line-height: 2.1rem;
    opacity: .8;
    padding: 20px 0;
}

.poll-detail-title {
    padding: 30px 0;
    font-size: 2rem;
    text-align: center;
}

.poll-option-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.poll-option {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.poll-option-number{
    font-size: 1.2rem;

}
.poll-option-title{
    opacity: .8;
    font-size: 1.2rem;
}
.poll-option-btn button{
    border: none;
    padding: 15px 20px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: all .3s;
}
.submit-vote-btn{
    background-color: lightgreen;
    font-family: Vazirmatn, Sans-serif, Serif, Monospace, serif;
}
.submit-vote-btn:hover{
    background-color: #41df41;
}
.delete-cote-btn{
    background-color: #d83f3f;
    color: white;
    font-family: Vazirmatn, Sans-serif, Serif, Monospace, serif;
}
.delete-cote-btn:hover{
    background-color: #d12121;
}