.events-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.event {
    width: 23%;
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 20px;
    padding: 20px 0;
    box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: all .3s;
    position: relative;
}

.event-delete-icon:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.event-delete-icon {
    position: absolute;
    top: 8px;
    left: 10px;
    background-color: #d04444;
    color: white;
    padding: 5px 10px;
    z-index: 99999;
    border-radius: 10px;
    font-size: .8rem;
    opacity: .8;
}

.event-title {
    font-size: 1.2rem;
    padding: 10px 0px;
}

.event-date {
    opacity: .8;
}

.event-date p {
    color: #c72727;
    opacity: .9;
    font-size: .8rem;
    padding: 15px 0
}

.birthday-date p {
    color: #c72727;
    opacity: .9;
    font-size: .8rem;
    padding: 15px 0
}

.birthday-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
}

.birthday {
    width: calc(25% - 30px);
    margin: 10px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    transition: all .3s;
    border-radius: 10px;
    position: relative !important;
}

.birthday:hover {
    transform: scale(1.05);

}

.event:hover {
    transform: scale(1.05);

}

.birthday-icon {
    text-align: center;
}

.birthday-icon i {
    color: #2D394B;
    font-size: 4rem;
    padding: 10px 0;
}

.birthday-title {
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;

}

.birthday-user {
    font-size: 1.2rem;
    opacity: .8;
    text-align: center;
    padding: 10px 0;
    display: block;
}

.birthday-user i {
    font-size: 1.2rem;

}

.birthday-date {
    opacity: 1.8;
    padding: 15px 0;
    text-align: center;
}

.download-link {
    text-decoration: none;
    color: #2D394B;
}

.download-link:hover {
    color: dodgerblue;
}

.news-icon img {
    object-fit: cover;
    width: 95%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    height: 170px;
}

.news-user {
    border-bottom: 1px solid lightgray;
}

.new-page-container {
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;

}

.new-page-section {
    height: 500px;
}

.new-page-section img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    /*height: 300px;*/
    object-fit: cover;
}

.mew-infos-container {
    padding: 20px 0;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-title {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
    opacity: .8;
}

.new-description {
    line-height: 2.1rem;
    padding: 20px 0;
    opacity: .7;
    color: black;
}

.poll-detail-title {
    padding: 30px 0;
    font-size: 2rem;
    text-align: center;
}

.poll-option-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.poll-option {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.poll-option-number {
    font-size: 1.2rem;

}

.poll-option-title {
    opacity: .8;
    font-size: 1.2rem;
}

.poll-option-btn button {
    border: none;
    padding: 15px 20px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: all .3s;
}

.submit-vote-btn {
    background-color: lightgreen;
    font-family: Vazirmatn, Sans-serif, Serif, Monospace, serif;
}

.submit-vote-btn:hover {
    background-color: #41df41;
}

.delete-cote-btn {
    background-color: #d83f3f;
    color: white;
    font-family: Vazirmatn, Sans-serif, Serif, Monospace, serif;
}

.delete-cote-btn:hover {
    background-color: #d12121;
}

.file-add-form {
    padding: 50px 0;
}

.file-add-form label {
    font-size: 1.5rem;
}

.file-add-form input {
    /*display: block;*/
}

.file-add-form .add-file-title-input {
    padding: 5px;

}

.file-add-input-group {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.file-add-input-group input, textarea, select {
    border: 1px solid #4046B3;
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    width: 30% !important;
}

.file-add-form button {
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    width: 50%;
    margin-top: 50px;
    background-color: #E9A63A;
    border-radius: 25px;
    text-align: center;
    border: none;
    color: white;
    cursor: pointer;
}

.report-table {
    margin: 25px 0 !important;
}

/*td:has(> div.user-action-btn ) {*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*}*/

.user-action-btn {
    padding: 15px 20px;
    text-align: center;
    width: 30%;
    display: inline-block;
    border-radius: 25px;
    cursor: pointer;
}

.errorlist li {
    color: #f15b5b;
    padding-bottom: 10px;
}

.form-error-container {
    text-align: center;
    width: 50%;
    color: white;
    background-color: #f15b5b;
    margin: 15px auto;
    padding: 10px 0;
    border-radius: 10px;
}


.user-list-search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    padding: 5px 10px;
    border-radius: 10px;
}

.user-list-search-container input {
    background-color: inherit;
    border: none;
    outline: none;
}

.edit-user-btn {
    background-color: #686cba;
    color: white !important;
}

.user-action-btn:hover {
    text-decoration: underline;
}

.delete-user-btn {
    background-color: #d83f3f;
    color: white !important;
}

.delete-user-btn:hover {
    text-decoration: underline !important;
}

#user-create-form {
    padding: 25px 0;
}

#user-create-form label {
    margin: 20px 0;
    display: block;
}

#user-create-form button {
    display: block;
    background-color: #4046B3;
    border: none;
    color: white;
    padding: 15px 20px;
    margin: 0 auto;
    border-radius: 25px;
}

.table-is-superuser .fa-circle-check {
    color: green;
    font-size: 1.2rem;
}

.table-is-superuser .fa-circle-xmark {
    color: #d83f3f;
    font-size: 1.2rem;
}

.poll-option-container-xd {
    width: 50%;
    background-color: burlywood;
    border-radius: 25px;
    padding: 25px;
    margin: 25px auto 0;
}

.poll-option-container-xd .poll-option-title {
    color: white;
    font-size: 1.7rem;
    margin: 0 0 20px;
    text-align: center;
}

.poll-option-section {
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    width: 70%;
    margin: 20px auto;
}

.poll-option-section span {
    font-size: 1.2rem;
}

.poll-option-section input {
    width: 80%;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 2px solid #4046B3;
}

.poll-option-plus-btn {
    border-radius: 20px !important;
    padding: 10px 15px !important;
    background-color: #676dd5 !important;
    color: white !important;
    font-size: 1.1rem !important;
}

.delete-confirm-form {
    padding: 25px;
    border: none;

}

.delete-confirm-form * {
    margin: 10px;
    font-size: 1.3rem;
}

.contact-show-btn {
    background-color: #E9A63A;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    width: max-content;
    margin: 0 auto;
    display: block;
    border: none;
    text-align: center;
    padding: 15px 20px;
}


.main-row-container {
    min-height: 100vh !important;
}

.hyper-link-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.hyper-link-item a{
    text-decoration: none;
    display: block;
    height: 50px!important;
    width: 100%;
}
.hyper-link-item:hover a{
    background-color: inherit!important;
}
.hyper-link-item a img{
    width: 100%;
    border-radius: 50%;
    transition: all .2s!important;
    height: 50px;
}
.hyper-link-item:hover{
    background-color: inherit!important;
}
.hyper-link-item:hover a img{
    transform: scale(1.07);
}