{% extends 'shared/__layout.html' %}

{% block content %}
    <div class="article-container">
        <div class="article-title">
            <h1>افزودن رویداد جدید</h1>
        </div>
        <form class="file-add-form" method="post" action="{% url 'event_add_view' %}">
            {% csrf_token %}
            <div class="file-add-input-group">
                <label for="">عنوان رویداد :</label>
                {{ form.title }}
            </div>
            <div class="file-add-input-group">
                <label for=""> تاریخ رویداد : </label>
                {{ form.event_date }}
            </div>
            <button type="submit">تایید</button>
        </form>
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}

        {% endfor %}

    </div>
{% endblock %}
{% block custom_script %}
    <script>
        let input = document.getElementById("datetime")
        input.addEventListener("focus", (event) => {
            var dp = new HaDateTimePicker("#datetime", {
                isSolar: true,
                {#forceSetTime: true,#}
                resultFormat: '{year}-{month}-{day}',
            });
            dp.show();
        })
    </script>
{% endblock %}