{% extends 'shared/admin_layout.html' %}

{% block content %}
    <div class="">
        <div class="clearfix"></div>
        <div class="main-row-container row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <br/>
                    <div class="article-container">
                        <div class="article-title">
                            <h1>افزودن فایل جدید</h1>
                        </div>
                        <form class="file-add-form" method="post" action="{% url 'file_add_view' %}"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="file-add-input-group">
                                <label for="">عنوان فایل :</label>
                                {{ form.title }}
                            </div>
                            <div class="file-add-input-group">
                                <label for=""> فایل : </label>
                                {{ form.file }}
                            </div>
                            <button type="submit">تایید</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}