{% extends 'shared/__layout.html' %}
{% load static %}
{% load jalali_tags %}
{% load poll_extras %}
{% block custom_header %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="article-container">
        <div class="article-title">
            {% if request.user.is_superuser %}
                <a href="{% url 'birthday_add_view' %}" class="add-newfile-btn">افزودن تولد جدید</a>
            {% endif %}
            <h1>تولد ها</h1>
            {% if request.user.is_superuser %}
                <a href="{% url 'home_view' %}" class="go-to-home-page-btn">رفتن به صفحه اصلی</a>
            {% endif %}
        </div>
        <div class="birthday-container">
            {% for birthday in birthdays %}
                <div class="birthday">
                    <div class="birthday-icon">
                        <i class="fa-solid fa-cake-candles"></i>
                    </div>
                    <div class="birthday-title">
                        تولد {{ birthday.full_name }}
                    </div>
                    <div class="birthday-user">
                        {{ birthday.user.full_name }} <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="birthday-date">
                        {{ birthday.birthday_date|show_jalali_date|change_month }}
                         <p>روزهای باقی مانده : {{ birthday.get_reaming_days }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}