{% load jalali_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1 style="text-align: center">{{ event.title }}</h1>
<p style="text-align: center">{{ event.event_date | to_jalali }}</p>
<p style="text-align: center">زمان باقیمانده : {{ reaming_days }}</p>
</body>
</html>