{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/3b50011dc6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    {% block custom_header %}{% endblock %}
    {#    <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
</head>
<body>
<div class="main-container">
    <div class="sidebar-container">
        <div class="sidebar-section">
            <div class="sidebar-title-container">
                <h1 class="sidebar-title">شرکت آپفکتور</h1>
            </div>
            <div class="sidebar-items-container">
                <div class="sidebar-items-title">
                    منو اصلی
                </div>
                <ul>
                    <li><i class="fa-regular fa-calendar"></i> <a href="{% url 'event_list_view' %}">رویداد ها</a></li>
                    <li><i class="fa-solid fa-cake-candles"></i> <a href="{% url 'birthday_list_view' %}">تولد ها</a>
                    </li>
                    <li><i class="fa-solid fa-file"></i> <a href="{% url 'file_list_view' %}">فایل های اشتراک گذاری
                        شده</a></li>
                </ul>
            </div>
            <div class="sidebar-items-container">
                <div class="sidebar-items-title">
                    نظر سنجی ها و اخبار
                </div>
                <ul>
                    <li><i class="fa-solid fa-square-poll-vertical"></i> <a href="{% url 'poll_list_view' %}">نظرسنجی
                        ها</a></li>
                    <li><i class="fa-solid fa-newspaper"></i> <a href="{% url 'news_list_view' %}">اخبار</a></li>
                </ul>
            </div>
        </div>

    </div>
    <article class="content-container">
        <div class="content-section">
            <div class="navbar-container">
                <div class="user-profile-avatar-container">
                    <img class="user-profile-avatar"
                     src="{% static 'images/jurica-koletic-7YVZYZeITc8-unsplash.jpg' %}"
                     alt=""><span class="user-profile-email">{{ request.user.full_name }}</span>
                </div>
                <span class="user-profile-email">{{ request.user.email }}</span>
                <a class="user-profile-logout" href="{% url 'logout_view' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
            {% block content %}

            {% endblock %}
        </div>
    </article>
</div>
{% block custom_script %}{% endblock %}
</body>
</html>